# Ignorar toda la carpeta Disenio
Disenio/

# Ignorar dependencias de frontend
BlockTrack/frontend/node_modules/
BlockTrack/frontend/dist/
BlockTrack/frontend/build/

# Ignorar dependencias de backend
BlockTrack/backend/node_modules/
BlockTrack/backend/dist/
BlockTrack/backend/build/
BlockTrack/backend/prisma

#Ignorar dependencias de ethereum
BlockTrack/ethereum/node_modules/
BlockTrack/ethereum/dist/
BlockTrack/ethereum/build/

# Ignorar ficheros de entorno
BlockTrack/frontend/.env
BlockTrack/backend/.env

# Ignorar logs generales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Ignorar ficheros del sistema operativo
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Ignorar ficheros del editor
.vscode/
.idea/
*.code-workspace

# Ignorar temporales de LaTeX de la memoria
Memoria/*.aux
Memoria/*.log
Memoria/*.out
Memoria/*.toc
Memoria/*.pdf
Memoria/*.synctex.gz

# Otros temporales generales
*.tmp
*.swp
